.container{
    background-color: #dcdcdc;
    border-radius: 5px;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.02px 0;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -20px;
    gap: 5px;
}

li{
    border-radius: 3px;
    background-color: white;
    border: 1px solid grey;
    padding: 5px 8px;
    color: orange;
}