h1, h2, p{
    font-family: Arial, serif;
    color: silver;
}

header, section, footer{
    margin: 10px 10px;
    padding: 20px;
}

nav a:hover,
section a:hover,
footer a:hover {
    color: white;
    background-color: darkblue;
    text-decoration: underline;
}

p.highlight {
    background-color: lightyellow;
    font-weight: bold;
}

.container > a {
    color: blue;
    font-size: 18px;
}

h1,
p.highlight,
.container > a {
    border: 2px solid grey;
    padding: 10px;
}